@import '../../../static/typography.css';
.Spotlight_Container{
    width: 100%;
}
.Spotlight_box{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}
.Spotlight_left{
    width: 50%;
}
.Spotlight_right{
    width: 50%;
}
.spotlight_heading{
    font-family: Rza;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 57px;
    letter-spacing: -0.03em;
    color: #FF4E03;
    margin: 0px;
}
.spotlight_Desc{
    width: 90%;
    margin: 0;
    margin: auto;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #231E1E;
    margin: 0;
}
.spotlightbtn{
    padding: 14px 30px 15px;
    background: #003545;
    border-radius: 30px;
    outline: none;
    color: white;
}
@media screen and (max-width: 960px) {
    .spotlight_heading{
        font-family: Rza;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #FF4E03;
        margin: 0px;
    }
   
}
@media screen and (max-width: 750px) {
    .spotlight_heading{
        font-family: Rza;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 99%;
        letter-spacing: -0.03em;
        color: #FF4E03;
        margin: 0px;
        margin-bottom: 20px;
    }
    .Spotlight_box{
        width: 90%;
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    .Spotlight_left{
        width: 90%;
        margin: auto;
    }
    .Spotlight_right{
        width: 100%;
    }
    .spotlight_Desc{
        margin: auto;
    }
    .spotlightbtn{
        width: 100%;
        background: #003545;
        border-radius: 30px;
        outline: none;
        color: white;
    }
}