@import '../../../static/typography.css';
.Headers_Container{
    width: 100%;
    overflow: hidden;
}
.Headers_Box{
    width: 93%;
    margin: auto;
    margin-right: 0px;
    display: flex;
    align-items: center;
}
.HeadersRight{
    width: 100%;
    position: relative;
    right: -30px;
}
.HeadersRight > img{
    width: 125%;
}
.HeadersLef{
    width: 70%;
}
.header_left_heading{
    font-family: Rza;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FF4E03;
    margin: 0;
}
.header_right_para{
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #231E1E;
}
@media screen and (max-width: 960px) {
    .header_left_heading{
        font-family: Rza;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #FF4E03;
        margin: 0;
    }
    .header_right_para{
        margin: 0;
    }
    .header_right_para >p {
        margin: 0px;
    }
    .HeadersRight > img{
        width: 145%;
    }
    
}
@media screen and (max-width: 750px) {
    .Headers_Box{
        width: 93%;
        margin: auto;
        margin-right: 0px;
        display: block;
    }
    .HeadersLef{
        width: 80%;
    }
    .HeadersRight{
        width: 110%;
        position: relative;
        right: 13px;
    }
}